:root {
  --background: 1 0 0;
  --foreground: 0.148 0.004 228.8;
  --card: 1 0 0;
  --card-foreground: 0.148 0.004 228.8;
  --popover: 1 0 0;
  --popover-foreground: 0.148 0.004 228.8;
  --primary: 0.488 0.243 264.376;
  --primary-foreground: 0.97 0.014 254.604;
  --secondary: 0.967 0.001 286.375;
  --secondary-foreground: 0.21 0.006 285.885;
  --muted: 0.963 0.002 197.1;
  --muted-foreground: 0.56 0.021 213.5;
  --accent: 0.963 0.002 197.1;
  --accent-foreground: 0.218 0.008 223.9;
  --destructive: 0.577 0.245 27.325;
  --border: 0.925 0.005 214.3;
  --input: 0.925 0.005 214.3;
  --ring: 0.723 0.014 214.4;
  --chart-1: 0.809 0.105 251.813;
  --chart-2: 0.623 0.214 259.815;
  --chart-3: 0.546 0.245 262.881;
  --chart-4: 0.488 0.243 264.376;
  --chart-5: 0.424 0.199 265.638;
  --radius: 0;
  --sidebar: 0.987 0.002 197.1;
  --sidebar-foreground: 0.148 0.004 228.8;
  --sidebar-primary: 0.546 0.245 262.881;
  --sidebar-primary-foreground: 0.97 0.014 254.604;
  --sidebar-accent: 0.963 0.002 197.1;
  --sidebar-accent-foreground: 0.218 0.008 223.9;
  --sidebar-border: 0.925 0.005 214.3;
  --sidebar-ring: 0.723 0.014 214.4;
}

.dark {
  --background: 0.148 0.004 228.8;
  --foreground: 0.987 0.002 197.1;
  --card: 0.218 0.008 223.9;
  --card-foreground: 0.987 0.002 197.1;
  --popover: 0.218 0.008 223.9;
  --popover-foreground: 0.987 0.002 197.1;
  --primary: 0.424 0.199 265.638;
  --primary-foreground: 0.97 0.014 254.604;
  --secondary: 0.274 0.006 286.033;
  --secondary-foreground: 0.985 0 0;
  --muted: 0.275 0.011 216.9;
  --muted-foreground: 0.723 0.014 214.4;
  --accent: 0.275 0.011 216.9;
  --accent-foreground: 0.987 0.002 197.1;
  --destructive: 0.704 0.191 22.216;
  --border: 0.925 0.005 214.3;
  --input: 1 0 0 / 15%;
  --ring: 0.56 0.021 213.5;
  --chart-1: 0.809 0.105 251.813;
  --chart-2: 0.623 0.214 259.815;
  --chart-3: 0.546 0.245 262.881;
  --chart-4: 0.488 0.243 264.376;
  --chart-5: 0.424 0.199 265.638;
  --sidebar: 0.218 0.008 223.9;
  --sidebar-foreground: 0.987 0.002 197.1;
  --sidebar-primary: 0.623 0.214 259.815;
  --sidebar-primary-foreground: 0.97 0.014 254.604;
  --sidebar-accent: 0.275 0.011 216.9;
  --sidebar-accent-foreground: 0.987 0.002 197.1;
  --sidebar-border: 1 0 0 / 10%;
  --sidebar-ring: 0.56 0.021 213.5;
}
